<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.8.4" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="EPPlus" version="8.0.2" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="8.0.0" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.7.0" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.7.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1823.32" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net48" />
</packages>